*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul.list-unstyled{
  list-style: none;
}

.body-wrap{
  width: 100%;
  min-height: 100vh;
  padding-bottom: 30px;
  background-color: #434343;
  font-family: 'Lato', sans-serif;
}

.head{
  background-color:  #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.head h1{
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  color: #c30000;
}

.search > input, .search > button{
  padding: 5px 10px;
}

.search > button{
  background-color: inherit;
  border: none;
  color: #fff;
  cursor: pointer;
}

.results-container{
  margin: 40px;
  padding: 20px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
}

.title-categories{
  color: #fff;
  font-size: 30px;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
}

.results-list{
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

.results-list > li{
  flex-shrink: 0;
  margin: 10px;
  list-style: none;
  width: 250px;
  height: 400px;
  border-radius: 5px;
  overflow: hidden;
  border: none;
  position: relative;
  background-color: #000;
  color: #fff;
  transition: width 0.6s linear, height 0.6s linear;
}


.results-list > li:hover{
  width: 350px;
  height: 500px;
}

.results-list > li > img{
  width: 100%;
  height: 100%;
}

.results-img{
  object-fit: fill;
}

.results-img.imgNull:before{
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
  content: "Ops! Image not found!";
  font-size: 30px;
}

.results-info{
  position: absolute;
  top:0;
  left:0;
  padding: 30px 10px;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0,0,0,0.9);
  list-style: none;
  transition: opacity 0.6s linear;
  overflow-y: auto;
}

.results-info li > *{
  display: inline;
}

.results-list li:hover .results-info{
  opacity: 1;
}

i.fa-star{
  color: #ffcb40;
}

.results-info > li{
  margin: 10px 0;
}

.results-info > li > h4{
  margin: 0 5px;
}

.flags{
  display: flex;
  align-items: center;
}
