*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-wrap{
  width: 100%;
  min-height: 100vh;
  background-color: #434343;
  font-family: 'Lato', sans-serif;
}

.head{
  background-color:  #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.head h1{
  text-transform: uppercase;
  font-weight: 300;
  color: #c30000;
}

.head input{
  padding: 5px 10px;
}

.movie-list{
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-list > li{
  margin: 10px;
  list-style: none;
  width: calc((100% / 4) - 50px);
  height: 500px;
  border: 4px solid #828282;
  position: relative;
  background-color: #000;
  color: #fff;
}

.movie-list > li > img{
  width: 100%;
  height: 100%;
}

.movie-img{
  object-fit: fill;
}

.movie-img.imgNull:before{
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
  content: "Ops! Image not found!";
  font-size: 30px;
}

.movie-info{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  display: none;
  background-color: #000;
  padding: 30px 10px;
  list-style: none;
  overflow: auto;
}

.movie-list li:hover .movie-info{
  display: block;
}
