*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-wrap{
  width: 100%;
  height: 100vh;
  background-color: #434343;
  font-family: 'Lato', sans-serif;
}

.head{
  background-color:  #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.head h1{
  text-transform: uppercase;
  font-weight: 300;
  color: #c30000;
}

.head input{
  padding: 5px 10px;
}

.movie-list{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-list > li{
  padding: 20px;
  margin: 10px;
  list-style: none;
  border: 4px solid #828282;
  background-color:  #000;
  width: 250px;
  position: relative;
}

.movie-img{
  height: 300px;
}

.movie-info{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  display: none;
  color: #fff;
  padding: 30px 10px;
  list-style: none;
}

.movie-list li:hover .movie-info{
  display: block;
}
