*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul.list-unstyled{
  list-style: none;
}

.body-wrap{
  width: 100%;
  min-height: 100vh;
  background-color: #434343;
  font-family: 'Lato', sans-serif;
}

.head{
  background-color:  #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.head h1{
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  color: #c30000;
}

.head input{
  padding: 5px 10px;
}

.movie-list{
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-list > li{
  margin: 10px;
  list-style: none;
  width: 300px;
  height: 500px;
  border: 4px solid #828282;
  position: relative;
  background-color: #000;
  color: #fff;
}

.movie-list > li > img{
  width: 100%;
  height: 100%;
}

.movie-img{
  object-fit: fill;
}

.movie-img.imgNull:before{
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
  content: "Ops! Image not found!";
  font-size: 30px;
}

.movie-info{
  position: absolute;
  top:0;
  left:0;
  padding: 30px 10px;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0,0,0,0.9);
  list-style: none;
  transition: opacity 0.3s linear;
  overflow-y: auto;
}

.movie-info li > *{
  display: inline;
}

.movie-list li:hover .movie-info{
  opacity: 1;
}

i.fa-star{
  color: #ffcb40;
}

.movie-info > li{
  margin: 10px 0;
}

.actor-movie > li{
  margin: 15px;
}

.movie-info > li > h4{
  margin: 0 5px;
}

.flags{
  display: flex;
  align-items: center;
}
