<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- vue/axios -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <!-- vue/axios -->
  <!-- font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <!-- /font -->
  <link rel="stylesheet" href="css/style.css">
  <title>Boolflix</title>
</head>
<body>
  <div id="app" class="body-wrap">
    <div class="head">
      <h1>Boolflix</h1>
      <input type="text" name="search-movie" v-on:keyup.13="searchMovie"  v-model="inputSearch" value="">
    </div>
    <ul class="movie-list">
      <li v-for="movie in chosenMovies">
        <img class="movie-img" :src="'https://image.tmdb.org/t/p/w300'+ movie.poster_path" :alt="movie.title">
        <ul class="movie-info">
          <li>Titolo: <span>{{movie.title}}</span></li>
          <li>Titolo originale: <span>{{movie.original_title}}</span></li>
          <li>Voto: <span>{{movie.vote_average}}</span></li>
          <li>Overview: <span>{{movie.overview}}</span></li>
        </ul>
      </li>
    </ul>
  </div>
  <script src="js/script.js"></script>
</body>
</html>
